# Created by https://www.gitignore.io/api/jupyternotebook

### JupyterNotebook ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*
__pycache__/*

### Data ###
*.csv
*.dat
*.xml
*.json
*.jpg
*.jpeg
*.png
*.h5
*.bc